language: ruby
env:
  - RAILS_ENV=test
script:
  - bundle exec rake db:setup && bundle exec rake db:migrate
  - bundle exec rspec spec
  - bundle exec rubocop
notifications:
  slack:
    secure: J+6ATvKET57Zs7OmEc9AEF1hXdnp/MYUQLI2Nm21mddCeBVRkaQX3dNzvmKMJ53NyNaPllNMTIIdiT+6+EQ2dOAUbQRi0cQFQe+RpSPpur9arI600gnExhPds3tnz80ajJhepwIyG39u7OdrgF69Lan1yDlO11dpoQEdLicYsUZBsG5RvFQSlITZdsRUNTMkzKxb+ZO/ty2jHIwQ9Ix+4e689DPrArgALf8/d9PVsoHmvTz4+bYs8Rse7qaXd5aFwKUo8LNZ/Jw9JVooKA8wvK+v6U6GsdN61WGpDkIJbsj2yRpyhx1iGwWD3aXzlvQB1NdHjCqPIuLlVXvtZ8HWtxUzg0d6RDhAZIq/FKRb5bHln268rK5Y6DN4+esPmpTsL3wSOyoa7Jt9Q8GOPdIv5K29ZO3ZgAAISiBfctVRKJlXwCfXKkWaTBDyr0hIfjqcl7T8o9SWB8GkAvujtxfmq+LIW2k8XI+BPncYwSYTHl6VRVZNeob54mEzJMuaAU3zWmy6NIi7bwvYo490U5ePC+PUoccXazbiKRGZ4f4HflAUPMlYBjNxD+q0d0sHzukHSQsKbBoPbVbISrvFwc5HGd8HLnexqegusFnelPYPVnb03oLwPFESHAKm6g/CH9seugaIf+Z6lgRz1puaBKCTSY+aARwOHxPqv2m15s+ULl8=
